<ion-header>
  <ion-toolbar>
    <ion-title>
      Domains
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of response.articles">
    <ion-card-header>
      <img [src]="item.urlToImage"/>
      <ion-card-subtitle>{{item.author}}</ion-card-subtitle>
      <ion-card-subtitle>{{item.publishedAt | date: 'dd/MM/yyyy hh:ss'}}</ion-card-subtitle>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
